<h1>All Entries</h1>
<div>
 <% @entries.each do |entry| %>
   <%= entry.name %>
   <%= entry.age %>
   <%= button_to "Delete", entry, method: :delete, data: { confirm: "Are you sure you want to delete this Project ?"} %>
 <% end %>
</div>