<div class="card" style="width: 18rem;">
  <div class="card-body">
    <% if @entries.present? %>
        <% @entries.each do |entry| %>
        <h5 class="card-title"> <%= entry.title %></h5>
        <p class="card-text"><%= entry.content %></p>
        <% end %>
    <% else %>
        <p>No entries found.</p>
    <% end %>
  </div>
</div>
<a class="btn btn-primary" href="entries/new" role="button">New Entry</a>